<html>
	
	<% include ./partials/head.ejs %>

	<body>
		<center>
			<h3>Voting App</h3><br>
			<div class="btn btn-default"><a href="/login">Login</a></div>
			<div class="btn btn-default"><a href="/signup">signup</a></div>
		</center>
		<% include ./partials/loadjs.ejs %>		
	</body>

</html>