<html>
	
	<% include ./partials/head.ejs %>

	<body>
		<center>
			<% if(!user){ %>
				<h3>Login First</h3>
			<% }else{ %>

				<!-- Enter all The HTML code here -->

				<input type="hidden" name="username" value="<%= user.username %>" id="username">
				<h3>Hello, <%= user.username %></h3><br>
				<div class="btn btn-default"><a href="/user/logout">Logout</a></div><br>
				<div class="btn btn-default"><a href="/user">User Home page</a></div><br>
				<div class="btn btn-default"><a href="/user/createpoll">Create New Poll</a></div><br>
				<% if(message.length>0) { %>
					<div class="alert alert-danger"><%= message %></div>
				<% } %>

				<h1>Manage Poll:</h1><br>
				<div class="polls">
					
				</div>


			<% } %>
		</center>
		<% include ./partials/loadjs.ejs %>	
		<script>
			const username = document.getElementById("username").value;
			$.get( "https://murmuring-fortress-28297.herokuapp.com/api/user/"+username, function(){

			}).done((data)=>{
				//console.log(data);
				$(".polls").innerHTML = "";
				for(let i=0;i<data.mypolls.length;i++){
					let pollid = data.mypolls[i];
					$.get( "https://murmuring-fortress-28297.herokuapp.com/api/poll/"+pollid, function(){

					}).done((data)=>{
						// html code to be appended for dispaying in page
						if(data.question){
							const pollquestion = data.question;
							const htmlcode = '<p>'+pollquestion+'</p><a href="/'+data.owner+'/deletepoll/'+data._id+'">Delete</a><br>Link: <a href="https://murmuring-fortress-28297.herokuapp.com/get/'+username+'/'+pollquestion+'" target="blank">click here</a><hr>';
							
							$(".polls").append(htmlcode);
						}
					}).fail(()=>{
						console.log("Invalid api access");
					})
				}


			}).fail(()=>{
				console.log("Invalid api access!")
			});
		</script>	
	</body>

</html>