<html>
	
	<% include ./partials/head.ejs %>

	<body>
		<center>
			<% if(!user){ %>
				<h3>Login First</h3>
			<% }else{ %>

				<!-- Enter all The HTML code here -->

				<% if(message.length>0) { %>
				<div class="alert alert-danger"><%= message %></div>
				<% } %>
				
				<h3>Hello, <%= user.username %></h3>
				<div class="btn btn-default"><a href="/user/logout">Logout</a></div><br>
				<div class="btn btn-default"><a href="/user/createpoll">Create Poll</a></div>
				<div class="btn btn-default"><a href="/user/managepoll">Manage Poll</a></div>




			<% } %>
		</center>
		<% include ./partials/loadjs.ejs %>		
	</body>

</html>